.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1512px;
}

.contact-form__heading {
    margin: 30px auto;
    width: 121px;
    height: 46px;
}

h2 {
    font-size: 35px;
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.form {
    width: 70%;
    height: 606px;
    margin: 0 auto;
    text-align: center;
}

.confirm-table {
    border: 1px solid #E0DFDE;
    width: 972px;
}

.confirm-table__row {
    border-bottom: solid 1px #E0DFDE;
    width: 80%;
}

.confirm-table__inner {
    width: 972px;
}

.confirm-table__header {
    margin-left: 10px;
    padding: 15px;
    width: 30%;
    background-color: #BAA899;
    color: #fff;
    text-align: left;
}

.confirm-table__text {
    width: 70%;
    padding: 15px;
    display: flex;
}

.confirm-table__text input {
    margin-left: 20px;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 120px;
    height: 42px;
    border: none;
    background: #82756A;
    color: #fff;
    cursor: pointer;
}

.form__button-edit{
    padding: 10px;
    width: 120px;
    height: 42px;
    color: #8B7969;
    text-decoration: underline;
    cursor: pointer;
    background-color: #fff;
    border: none;

    appearance: none;
}